<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Damask Test on Chrome">
        <parameter name="browserName" value="Chrome"/>
        <parameter name="Url" value="https://damaskcakes.com/"></parameter>
        <parameter name="author" value="Bishal"></parameter>
        <classes>
            <class name="TestCase.LoginPageTest"></class>
        </classes>
    </test>
</suite>
